<footer class = "footer ">
  <small>
    The Ruby on Rails  Tutorial  by MyWay1992
   </small>
   <nav>
   <ul>
   <li><%= link_to "About", about_path %></li>
   <li><%= link_to "Contact", contact_path %></li>
   <li><%= link_to "News", 'http://weibo.com/u/1759668193' %></li>
   </ul>
   </nav>
   </footer>