<footer class = "footer ">
  <small>
    The Ruby on Rails  Tutorial  by MyWay1992
   </small>
   <nav>
   <ul>
   <li><%= link_to "About", '#' %></li>
   <li><%= link_to "Contact", 'http://weibo.com/u/1759668193' %></li>
   <li><%= link_to "News", '#' %></li>
   </ul>
   </nav>
   </footer>